.page-item-prevnext .disabled{
     visibility: hidden;
}

.pagination{
     display: flex;
     list-style-type: none;
     justify-content: space-between;
     align-items: center;
     max-width: 950px;
     margin: auto;
     padding-left: 0;
}

.pagination li a{
     text-decoration: none;
}

.page-item-prevnext a{
     padding: 0.15rem 0.8rem;
     border: 1px solid #084531;
     background-color: #084531;
     font-weight: 500;
     color: #f0f0f0;
     border-radius: 3px;
     transition: all 0.1s ease-out;
}

.page-item-prevnext a:hover{
     background-color: #ffffff;
     color: #084531;
     transition: all 0.1s ease-in;
}

.page-item{
     visibility: hidden;
}
