.profile-page{
     max-width: 1300px;
     margin: auto;
}

.profile-dashboard-container{
     max-width: 600px;
     margin: 3rem auto;
     min-height: 65vh;

}

.p-dashboard-field{
     display: block;
     background-color: #F3F3F3;
     border-bottom: 2px solid #084632;
     max-width: 600px;
     width: 100%;
     height: 2rem;
     font-size: 18px;
     padding: 0.15rem 0.25rem;
     padding-left: 0rem;
     
}

.p-dashboard-item{
     display: flex;
     flex-direction: column;
     gap: 0.25rem;
}

.p-dashboard-item > label{
     font-size: 13px;
     color: #303030;
}

.p-dashboard-list{
     display: flex;
     flex-direction: column;
     gap: 0.75rem;
}

.p-dashboard-title{
     margin: 2rem 0;
     font-size: 20px;
     color: #084632;
}

.profile-page > h2{
     color: #084632;
}

@media(max-width: 650px){
     .profile-page{
          padding: 1rem;
     }
}