.spinner{
     border: 5px solid #f3f3f3;
     border-top: 5px solid #000000;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     animation: spin 1s linear infinite;
     margin: auto;
}

.spinna-container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: block;
  border-top: 4px solid #F0B61B;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

.loader-container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes spin {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
   } 